stages:
  - test
  - build
  - deploy

code_quality:
  image: node:16.16.0
  stage: test
  before_script:
    - npm ci
  script:
    - npm run eslint
    - npm run stylelint
    - npm run prettier-check
  only:
    - merge_requests

build:
  image: node:16.16.0
  stage: build
  before_script:
    - npm ci
    - npm run locale:download
  script:
    - SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN SENTRY_RELEASE=$CI_COMMIT_SHORT_SHA npm run build
  after_script:
    - find . -type f -iname \*map -delete
  artifacts:
    paths:
      - dist
  only:
    - merge_requests
    - master

deploy:
  image: alpine:latest
  stage: deploy
  before_script:
    - apk update && apk add rsync openssh
    - mkdir ~/.ssh
    - chmod 600 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" >> ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 600 ~/.ssh/known_hosts
  environment:
    name: production
  resource_group: production
  script:
    - rsync -a --delete dist/ artur@95.217.163.203:/home/artur/personal-newsfeed
  only:
    - master
